body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
    background-image: url(./dirtbike.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
}

h1 {
    font-family: cursive;
    font-size: 50px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#head-shot {
    display: flex;
    max-width: 80%;
    border-radius: 100%;
    align-self: center;
}

section {
    max-width: 25%;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

div {
    display: flex;
    flex-direction: column;
}

#logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: start;
}

a {
    padding: 10px;
}

p {
    color: mediumblue;
}

figure {
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50px;
    text-align: center;
}

.logos {
    color: mediumblue;
    display: flex;
    flex-flow: row wrap;
}
