body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
    background-image: url(./dirtbike4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
}

h1 {
    font-family: cursive;
    font-size: 50px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#head-shot {
    display: flex;
    max-width: 80%;
    border-radius: 100%;
    align-self: center;


}

section {
    max-width: 30%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

div {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}

a {
    padding: 10px;
}

p {
    color: darkblue;
}